<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="report.css" type="text/css" rel="stylesheet" />

    </style>

    <!-- Bar Chart -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable( <%= @barchart[:data] %> );

        var options = {
          title: "<%= @barchart[:title] %>",
          vAxis: {title: "<%= @barchart[:yaxis] %>",  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <!-- Scatterplot -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= @combined_scatterplot_data %>);

        var options = {
          title: "<%= @scatterplot[:title] %>",
          hAxis: {title: "<%= @scatterplot[:xaxis] %>", minValue: 0, maxValue: 15, gridlines: {color: '#EEEEEE', count: 3} },
          vAxis: {title: "<%= @scatterplot[:yaxis] %>", minValue: 0, maxValue: 15, logScale: true, },
          legend: {position: 'right', textStyle: {color: 'blue', fontSize: 10}}, pointSize: 0.1,
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('scatter_chart_div'));
        chart.draw(data, options);
      }
    </script>

    <!-- Box Plot -->
    <script type="text/javascript">
      function drawVisualization() {
        var data = google.visualization.arrayToDataTable(<%= @boxplot[:data] %>);

        var options = {
          title : "<%= @boxplot[:title] %>",
          vAxis: {title: "<%= @boxplot[:yaxis] %>"},
          hAxis: {title: "<%= @boxplot[:xaxis] %>"},
          legend: {position: 'none'},
          series: { 0: {type: "candlesticks"}, 
                    1: {type: "line", pointSize: 10, lineWidth: 0 }
          },
          tooltip: { trigger: 'none' },
        };

        var chart = new google.visualization.ComboChart(document.getElementById('combo_chart_div'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>

    <title><%= @report_title %></title>
  </head>
  <body>
    <h1><%= @report_title %></h1>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="scatter_chart_div" style="width: 900px; height: 500px;"></div>
    <div id="combo_chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
